body {
	font-family: Arial, sans-serif;
	margin: 40px;
}
header {
	text-align: center;
	font-size: 1.2rem;
}
div{
	padding: 10px;
	border: 1px solid #ddd;
	background-color: #f9f9f9;
	margin-bottom: 15px;
}
div[name] {
	margin-top: 20px;
}
div p[class="title"] {
	display: block;
	text-align: center;
	padding-right: 15px;
}

table, td, th {
	border: 1px solid;
	padding: 10px;
}

table {
	border-collapse: collapse;
}